<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Details</title>

</head>

<body>
    <h1>hello details</h1>
    <div class="show">
        <h1>From:
            <%= chat.from %>
        </h1>
        <p>Message:
            <%= chat.msg %>
        </p>
        <h2>To:
            <%= chat.to %>
        </h2>
    </div>


</body>

</html>