/* *{
    background-color: aquamarine;
} */

.chat{
    background-color: aqua;
    width: 400px;
    padding: 10px;
    margin: 20px;
    display: inline-block;
}


.show{
    background-color: aqua;
}